ai_service/myenv/ 
firebase_options.dart
**/ServiceAccountKey.json
**/google-services.json
**/GoogleService-Info.plist
node_modules/
*.json
gateway/*.json
*.glb
*.png
*.jpeg
*.jpg

*.keras
*.pt
__pycache__/
*.pyc