gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
interior_style_model.keras
interior_style_model_backup.keras
*.keras
*.pt
__pycache__/
*.pyc
# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

*.glb
*.png
*.jpeg
*.jpg